.wrapper {
  display: flex;
  justify-content: space-between;
  background-color:#232f3e;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
}

.linksWrapper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.link {
  color: #fff;
}
