.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  text-align: center;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2);
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.details {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: normal;
  margin: 0;
}
